body {
  background-color: #000;
  color: red;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  font-size: 18px;
}

ul,
li {
  list-style: none;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

#img {
  width: 300px;
  border: 1px #f019 solid;
}

.p1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-name {
  margin: auto 0 10px;
}

.linkes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.comment {
  align-self: center;
  justify-self: center;
  background-color: rgba(245, 245, 245, 0.2);
  color: #fff;
  width: 100%;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-solid,
.material-symbols-outlined {
  color: red;

  /* font-size: 10px; */
}

#popup {
  display: block;
}
